<header>
    <div class="p-3 mb-2 bg-danger text-white">
        <h1>¡Cuenta Bloqueada!</h1>
        <p>Lo sentimos, tu cuenta ha sido bloqueada. Por favor, intenta de nuevo más tarde.</p>
    </div>
</header>